@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all;
  user-select: none;
}

.subjects-box {
  @apply flex min-h-40 cursor-pointer flex-col items-center justify-center rounded-md border p-10 text-sm font-semibold hover:border-black;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.MuiPopper-root{
  transition-duration: 0ms !important;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  scrollbar-width: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
}
