@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all;
  user-select: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}



.simplebar-content-wrapper {
  scrollbar-width: auto !important;
}
.simplebar-content-wrapper::-webkit-scrollbar {
  display: initial !important;
}
#signin-bg {
  background-image: url('/assets/bg.png');
}
.subjects-box {
  @apply flex min-h-40 cursor-pointer flex-col items-center justify-center rounded-md border p-10 text-sm font-semibold hover:border-black;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.MuiPopper-root {
  transition-duration: 0ms !important;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
.simplebar-placeholder {
  display: none;
}
.hidden-scrollbar {
  scrollbar-width: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
}
